h1 {
	font-size: 50px;

	height: 200px;
	padding-top: 40px;
	color: white;
	text-shadow: 2px 2px;
	/* font-weight: bold; */
}
h2 {
	color: white;
	text-shadow: 2px 2px;
}
.container-fluid div h2 button {
	font-size: 24px;
	color: goldenrod;

	font-weight: bold;
}
.container-fluid {
	font-size: 24px;
	padding-left: 80px;
	color: goldenrod;

	font-weight: bold;
}
.container-fluid div {
	size: 50px;
	color: white;

	font-weight: bold;
}
.container-fluid .card-body {
	color: white;
	background-color: red;
}

footer h6 {
	height: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
	size: 1rem;
	color: white;
}
